<div class="container" data-page="profile">
  <div class="mt-3">
    <h1>Profile</h1>
  </div>

  <ul class="user-details">
    {{#each profile}}
      <li class="field-{{@key}}">
        <span class="key">{{@key}}</span>
        <span class="value">
          {{#ifObject this}}
            {{join this ', '}}
          {{else}}
            {{this}}
          {{/ifObject}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>
